* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}


body {
    text-align: center;
    background-color: #A9D7E9;

    h1 {
        font-size: 4em;
        margin: 2% 0;
    }

    .form-container {
        width: 900px;
        // height: 100vh;
        margin: 0 auto 5%;
        background-color: #f3f3f3;
        border-radius: 10px;
        padding: 2% 0;

        h2 {
            font-size: 1.7rem;
            font-weight: 400;
            margin-bottom: 2%;
        }

        .row {
            position: static;
            display: flex;
            gap: 3%;
            width: 80%;
            margin: 0 auto 2%;
            align-items: center;

            .labels {
                width: 45%;
                text-align: right;
                font-size: 1.1rem;


            }

            $border: 1.7px solid #C0C0C0;
            $border-radius: 3px;

            .right-value {
                width: 55%;
                text-align: left;

                .width {
                    width: 100%;
                    padding: 3% 2%;
                    border: $border;
                    border-radius: $border-radius;

                    &::placeholder {
                        font-size: 1rem;
                    }
                }

                .dropdown{
                    height: 40px;
                    font-size: .9rem;
                    border: $border;
                    border-radius: $border-radius;
                }

                .radio {
                    margin-bottom: .7rem;
                    font-size: 1.1rem;
                }
                .textarea {
                    height: 80px;
                    text-align: start;


                    // &::placeholder {
                        
                    // }
                }
            }
        }
        .align {
            align-items: flex-start;
        }

        button {
            padding: .7rem 1.5rem; 
            font-size: 1.2rem;
            margin-top: 1.5rem;
            border: none;
            background-color: #6BA2CE;
            color: white;
            border-radius: 3px;
        }
    }
}